<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <ol>
            <li>I am tall</li>
            <li>I have two cats, together with four different eye-colors </li>
            <li>I am a volleyball player</li>
            
        </ol>
    </body>

</html>